.App {
  margin-top: 30px;
  text-align: center;
}

.num {
  background-color: #999;
  border-radius: 10%;
  margin-right: 3px;
  padding: 10px;
  font-size: 24px;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

.num:last-child {
  margin-right: 0;
}

.btns {
  margin-top: 30px;
}

button {
  padding: 3px 10px;
  cursor: pointer;
}
